body {
  margin: 0;
  font-family: "Montserrat";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.nav {
  border-bottom: 2px rgb(21, 21, 22);
  width: 100%;
  height: 100px;
  padding-bottom: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.nav-title-container {
  display: flex;
  align-items: center;
  z-index: 100;
}

.nav-title {
  font-weight: 700;
  font-size: 35px;
  padding-top: 30px;
  padding-left: 20px;
  color: rgb(255, 156, 27);
  text-shadow: 1px 1px 2px #818181;
}

.logo-icon {
  height: 40px;
  width: 40px;
}

.navlinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: rgb(244, 244, 244);
  padding: 40px;
  height: 40px;
  margin-top: 10px;
  margin-right: 10px;
  border: solid rgb(212, 212, 212) 1px;
  border-radius: 50px;
  box-shadow: 0px 3px 7px 3px rgba(194, 194, 194, 0.705);
  z-index: 100;
}

.navlink {
  color: rgb(43, 43, 43);
  text-decoration: none;
  font-weight: 600;
}

.navlink:hover {
  color: rgb(137, 137, 137);
}

.nav-user {
  color: rgb(255, 156, 27);
  font-size: 25px;
  text-decoration: none;
  font-weight: 600;
  padding: 2px;
  margin-bottom: 4px;
  display: inline;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-bar {
  display: flex;
  gap: 50px;
  padding: 35px;
}

.category-icon {
}

.hero-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 90%;
}

.event-list {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 90%;
  overflow: hidden;
  background-image: url("https://i.imgur.com/Zn3DfcJ.jpg");
  pointer-events: none;
  user-select: none;
}

.host-event {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 90%;
  overflow: hidden;
  background-image: "https://i.imgur.com/XYVD23h.jpg";
  pointer-events: none;
  user-select: none;
}

.signup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 90%;
  overflow: hidden;
  background-image: "https://i.imgur.com/TDkZ7H2.jpg";
  pointer-events: none;
  user-select: none;
}

.account-details {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 90%;
  overflow: hidden;
  background-image: "https://i.imgur.com/7KFlFe1.jpg";
  pointer-events: none;
  user-select: none;
}

.card-section {
  margin-top: 20px;
  display: grid;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: center;
}

.upcoming-events {
  font-weight: 600;
  color: rgb(244, 244, 244);
  text-align: center;
  font-size: 25px;
  margin-bottom: 40px;
  text-shadow: 2px 2px 4px #838383;
  border-radius: 40px;
  padding: 20px;
  border: solid rgb(212, 212, 212) 1px;
  box-shadow: 0px 3px 7px 3px rgba(83, 83, 83, 0.22);
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.25);
  margin-top: 40px;
}

.account {
  font-weight: 600;
  color: rgb(255, 156, 27);
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  text-shadow: 1px 1px 2px #363535;
  padding: 20px;
  /* backdrop-filter: blur(4px); */
  /* background: rgba(255, 255, 255, 0.25); */
  display: inline-block;
}

.signup-form {
  font-weight: 600;
  color: rgb(244, 244, 244);
  text-align: center;
  font-size: 25px;
  /* margin-bottom: 40px; */
  text-shadow: 1px 1px 2px #363535;
  /* border-radius: 40px; */
  padding: 40px;
  border: solid rgb(212, 212, 212) 1px;
  box-shadow: 0px 3px 7px 3px rgba(83, 83, 83, 0.22);
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.25);
  z-index: -1;
}

.signup-header {
  font-weight: 600;
  color: rgb(244, 244, 244);
  text-align: center;
  font-size: 25px;
  margin-bottom: 40px;
  text-shadow: 2px 2px 4px #2b2a2a;
  border-radius: 40px;
  padding: 20px;
  border: solid rgb(212, 212, 212) 1px;
  box-shadow: 0px 3px 7px 3px rgba(83, 83, 83, 0.22);
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.25);
  z-index: -1;
}

.account-container {
  display: flex;
  justify-content: center;
}

.account-two {
  font-weight: 600;
  color: rgb(244, 244, 244);
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px #363535;
  border-radius: 40px;
  padding: 8px;
  border: solid rgb(212, 212, 212) 1px;
  box-shadow: 0px 3px 7px 3px rgba(83, 83, 83, 0.22);
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.25);
  display: inline-block;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(245, 245, 245, 0.25);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.card:hover {
  transform: translate(0, -8px);
  transition: 0.5s;
}

.card-title {
  text-align: center;
  font-weight: 400;
  color: rgb(21, 21, 22);
  text-decoration: none;
}

.card-location {
  font-weight: 500;
  color: rgb(43, 43, 43);
  text-align: center;
}

.card-image-container {
  overflow: hidden;
  height: 200px;
  width: 200px;
}

.card-image {
  box-shadow: 0px 3px 7px 3px rgba(217, 217, 217, 0.705);
}

.list-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 30px;
  column-gap: 30px;
  margin: 30px;
}

.account-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 30px;
  column-gap: 30px;
  margin: 30px;
  margin-top: 1px;
  margin-bottom: 70px;
}

.list-card {
  box-shadow: 0px 3px 7px 3px rgba(217, 217, 217, 0.705);
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 350px;
  align-items: center;
  background: rgba(245, 245, 245, 0.25);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.list-card-picture {
}

.see-more-container {
  display: flex;
  justify-content: center;
}
.detail-header-container {
}

.event-detail-title {
  margin: 20px;
  color: whitesmoke;
  text-shadow: 2px 2px 4px #6d6d6d;
  position: absolute;
}

.event-detail-location {
  margin-top: 70px;
  margin-left: 20px;
  color: whitesmoke;
  text-shadow: 2px 2px 4px #6d6d6d;
  position: absolute;
}

.event-detail-image {
  object-fit: cover;
  position: relative;
  z-index: -1;
  width: 100%;
  height: 300px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.text-modal {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  background: rgba(245, 245, 245, 0.25);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  display: inline-block;
}

.event-details {
  color: rgb(255, 156, 27);
  text-shadow: 1px 1px 2px #818181;
  font-weight: 600;
}

.detail {
  margin-left: 22px;
  font-weight: 200;
  color: rgb(43, 43, 43);
}

.description {
  margin-bottom: 30px;
}

.detail-container {
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), 95%, rgba(0, 0, 0, 0));
  background-color: rgba(255, 156, 27, 0.368);
  padding-top: 30px;
  border-bottom: solid 8px rgb(255, 156, 27);
}

.login-join {
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 30px;
  padding: 10px;
  display: inline-block;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(0, 173, 0);
  transition: 0.3s;
}

.login-join-link {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 800;
}

.login-join:hover {
  background-color: rgba(0, 129, 0, 0.778);
}

.login-join-link:hover {
  color: whitesmoke;
}

.login-join-button {
  background: none;
  border: none;
  text-decoration: none;
  color: whitesmoke;
  font-weight: 800;
}

.category-list {
  border-radius: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: rgba(245, 245, 245, 0.25);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0px 3px 7px 3px rgba(217, 217, 217, 0.705);
}

.login-title {
  font-weight: 600;
  color: rgb(244, 244, 244);
  text-align: center;
  font-size: 25px;
  margin-bottom: 40px;
  margin-top: 30px;
  text-shadow: 2px 2px 4px #838383;
  border-radius: 40px;
  padding: 8px;
  border: solid rgb(212, 212, 212) 1px;
  box-shadow: 0px 3px 7px 3px rgba(83, 83, 83, 0.22);
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.25);
  display: inline-block;
  margin-left: 50px;
}

.login-form {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 90%;
  overflow: hidden;
  pointer-events: auto;
  user-select: none;
  padding-left: 50px;
  color: white;
  margin-bottom: 10px;
  margin-top: 20px;
}

.login-button {
  border-radius: 10%;
  background-color: rgb(255, 156, 27);
  color: #ffffff;
  opacity: 1;
  padding: 6px 6px;
}

.login-signup-link {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 90%;
  overflow: hidden;
  pointer-events: auto;
  user-select: none;
  padding-left: 5px;
  color: white;
  margin-bottom: 10px;
  font-size: 15px;
  margin-right: 10px;
}

.login-signup-member {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 90%;
  overflow: hidden;
  pointer-events: auto;
  user-select: none;
  padding-left: 50px;
  color: white;
  margin-bottom: 10px;
  font-size: 15px;
  margin-right: 10px;
}

.location-list {
  border-radius: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: rgba(245, 245, 245, 0.25);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0px 3px 7px 3px rgba(217, 217, 217, 0.705);
}

.dropdown-container {
  display: flex;
}

.category-list,
.location-list {
  margin-right: 20px;
}

.passport {
  color: blue;
  padding: 5px;
}

.passport:hover {
  color: rgb(255, 156, 27)
}
